.container-sidebar {
    border-right: 1px solid var(--gray-500);
    height: 100%;
    max-width: 300px;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
}

.container-sidebar.collapsed {
    max-width: 80px;
}

.container-sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    height: 100%;
}

.container-sidebar-content-logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.container-sidebar-content-logo > img {
    width: 3rem;
    height: 3rem;
}

.container-sidebar-content-logo > h1 {
    color: var(--gray-300);
    transition: font-size 0.3s ease-in-out;
}

.container-sidebar.collapsed .container-sidebar-content .container-sidebar-content-logo > h1 {
    font-size: 0;
}

.container-sidebar:not(.collapsed) .container-sidebar-content .container-sidebar-content-logo > h1 {
    font-size: 1.3rem;
}

.container-sidebar-content-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container-sidebar-content-nav > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-sidebar-content-nav > ul > li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-300);
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer;
}

.container-sidebar.collapsed .container-sidebar-content-nav > ul > li {
    gap: 0;
}

.container-sidebar-content-nav > ul > li:hover {
    background-color: var(--gray-500);
}

.container-sidebar-content-nav > ul > li > a {
    transition: font-size 0.3s ease-in-out;
}

.container-sidebar.collapsed .container-sidebar-content-nav > ul > li > a {
    font-size: 0;
}

.container-sidebar:not(.collapsed) .container-sidebar-content .container-sidebar-content-nav > ul > li > a {
    font-size: 1rem;
}

.sidebar-icon {
    color: var(--gray-400);
}

.sidebar-greeting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.container-sidebar.collapsed .sidebar-greeting {
    gap: 0;
}

.sidebar-greeting > div {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.sidebar-greeting > div > img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.sidebar-greeting > p {
    color: var(--gray-300);
    transition: font-size 0.3s ease-in-out;
}

.container-sidebar.collapsed .sidebar-greeting > p {
    font-size: 0;
}
.container-sidebar:not(.collapsed) .sidebar-greeting > p {
    font-size: 1rem;
}

.container-sidebar .container-sidebar-content .container-sidebar-content-nav > ul:nth-child(2) > li:nth-child(1){
    padding: 0.2rem;
}

.btn-login {
    display: flex;
    justify-content: center;
}

.btn-login > button {
    color: var(--gray-300);
    background-color: var(--gray-600);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
}


@media (width < 1400px) {

    .container-sidebar:not(.collapsed) .container-sidebar-content .container-sidebar-content-logo > h1 {
        font-size: 1.1rem;
    }

    .container-sidebar:not(.collapsed) .container-sidebar-content .container-sidebar-content-nav > ul > li > a {
        font-size: 0.8rem;
    }

    .container-sidebar:not(.collapsed) .sidebar-greeting > p {
        font-size: 0.8rem;
    }

    .sidebar-greeting > div {
        width: 2rem;
        height: 2rem;
    }
}