[data-theme="dark"]{
    --gray-50: oklch(0.985 0.002 247.839);
    --gray-100: oklch(0.967 0.003 264.542);
    --gray-200: oklch(0.928 0.006 264.531);
    --gray-300: oklch(0.872 0.01 258.338);
    --gray-400: oklch(0.707 0.022 261.325);
    --gray-500: oklch(0.551 0.027 264.364);
    --gray-600: oklch(0.446 0.03 256.802);
    --gray-700: oklch(0.373 0.034 259.733);
    --gray-800: oklch(0.278 0.033 256.848);
    --gray-900: oklch(0.21 0.034 264.665);

    --sky-700: oklch(0.5 0.134 242.749);
    --sky-800: oklch(0.443 0.11 240.79);

    --emerald-700: oklch(0.508 0.118 165.612);
    --emerald-800: oklch(0.432 0.095 166.913);

    --pink-700: oklch(0.525 0.223 3.958);
    --pink-800: oklch(0.459 0.187 3.815);
}

[data-theme="light"] {
    --gray-50: oklch(0.208 0.042 265.755);
    --gray-100: oklch(0.279 0.041 260.031);
    --gray-200: oklch(0.372 0.044 257.287);
    --gray-300: oklch(0.446 0.043 257.281);
    --gray-400: oklch(0.554 0.046 257.417);
    --gray-500: oklch(0.704 0.04 256.788);
    --gray-600: oklch(0.869 0.022 252.894);
    --gray-700: oklch(0.968 0.007 247.896);
    --gray-800: oklch(0.929 0.013 255.508);
    --gray-900: oklch(0.984 0.003 247.858);

    --sky-700: oklch(0.828 0.111 230.318);
    --sky-800: oklch(0.746 0.16 232.661);

    --emerald-700: oklch(0.845 0.143 164.978);
    --emerald-800: oklch(0.765 0.177 163.223);

    --pink-700: oklch(0.823 0.12 346.018);
    --pink-800: oklch(0.718 0.202 349.761);
}