:root {
    --gray-50: oklch(0.985 0.002 247.839);
    --gray-100: oklch(0.967 0.003 264.542);
    --gray-200: oklch(0.928 0.006 264.531);
    --gray-300: oklch(0.872 0.01 258.338);
    --gray-400: oklch(0.707 0.022 261.325);
    --gray-500: oklch(0.551 0.027 264.364);
    --gray-600: oklch(0.446 0.03 256.802);
    --gray-700: oklch(0.373 0.034 259.733);
    --gray-800: oklch(0.278 0.033 256.848);
    --gray-900: oklch(0.21 0.034 264.665);

    --sky-700: oklch(0.5 0.134 242.749);
    --sky-800: oklch(0.443 0.11 240.79);

    --emerald-700: oklch(0.508 0.118 165.612);
    --emerald-800: oklch(0.432 0.095 166.913);

    --yellow-400: oklch(0.852 0.199 91.936);

    --pink-700: oklch(0.525 0.223 3.958);
    --pink-800: oklch(0.459 0.187 3.815);

    --purple-700: oklch(0.496 0.265 301.924);
}